* {
    margin: 0
}

html {
    background-color: #2d7e0e;
    height: 100%;
}

/* Navigation */
nav {
    width: 100%;
    height: 70px;
    background-color: #f5df63;
}

a {
    text-decoration: none;
    font-size: 45px;
    font-weight: bold;
    color: #11590f;
    margin-right: 25px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 70px;
    flex-wrap: wrap;
}

.logo {
    position: absolute;
    width: 70px;
    height: 70px;
}

.menuIcon {
    height: 70px;
    width: 70px;
    background-color: #2d7e0e;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.bar {
    height: 6px;
    width: 80%;
    background-color: #3ad33a;
}

.menu {
    top: 70px;
    height: 175px;
    width: 175px;
    padding-left: 15px;
    left: -200px;
    opacity: 0.00001%;
    background-color: #19a419;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s;
    z-index: 99;
}

.menulink {
    text-decoration: none;
    color: #f5df63;
    font-size: 25px;
    font-weight: bold;
}

/* Splash screen */
.splash {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.splashtext {
    color: white;
    position: absolute;
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
    -webkit-text-stroke: 2px #000000;
}

.splashbox {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Home page textboxes */
.background {
    background-color: #11590f;
    margin-top: 100px;
    height: 300px;
    width: 600px;
    padding: 50px;
}

.text {
    color: white;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    max-height: 280px;
}

.textflex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* About page content */
.aboutText {
    color: #f5df63;
    font-size: 20px;
}

.aboutPic {
    height: 350px;
    width: 350px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.aboutSub {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


/* Product page images */
.product1 {
    height: 350px;
    width: 300px;
    bottom: -200px;
    cursor: pointer;
    z-index: 98;
}

.product2 {
    height: 350px;
    width: 300px;
    cursor: pointer;
}

.product3 {
    height: 350px;
    width: 300px;
    cursor: pointer;
}

.product4 {
    height: 350px;
    width: 300px;
    cursor: pointer;
}

.product5 {
    height: 350px;
    width: 300px;
    cursor: pointer;
}

.wrappercenter {
    padding-top: 60px;
    text-align: center;
}

.wrapper1 {
    height: 350px;
    width: 300px;
    background-color: #c5c5c5;
    bottom: -100px;
    z-index: 97;
    transition: 1s;
    /*opacity: 0.000001%;*/
}

.productBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 700px;
    z-index: 99;
}

.productText {
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.yellow {
    color: #f5df63;
}

.green {
    color: #3ad33a;
}

.red {
    color: #880e0e;
}

.blue {
    color: #063b8d;
}

.purple {
    color: rebeccapurple;
}

/* Contact Page */
.formSize {
    margin-top: 500px;
}

label {
    font-size: 50px;
    font-weight: bold;
    color: yellow;
}

.button {
    height: 50px;
    width: 100px;
}

.social {
    font-size: 20px;
    color: yellow;
    font-weight: bold;
    text-decoration: underline;
}

.pic {
    height: 200px;
    width: 200px;
}


/* Footer */
.footer {
    background-color: #f5df63;
    width: 100%;
    bottom: 0;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: center;
}

.foot {
    font-size: 40px;
    color: #11590f;
    font-weight: bold;
}

/* Scroll bars */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #238f23;
}

::-webkit-scrollbar-thumb {
    background: #3ad33a;
}

::-webkit-scrollbar-thumb:hover {
    background: #134b13;
}

/* Media queries */
@media screen and (min-width: 771px) {
    .menuIcon {
        display: none;
    }
}

@media screen and (max-width: 685px) {
    .text {
        overflow: auto;
    }
}

@media screen and (max-width: 770px) {
    .splashtext {
        font-size: 37px;
        -webkit-text-stroke: 2px #000000;
    }

    .navigation {
        display: none;
    }
}






